version: '3.8'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: blog_nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - mysql
    networks:
      - blog_network

  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: blog_php
    volumes:
      - ./:/var/www/html
    environment:
      - PHP_IDE_CONFIG=serverName=blog.local
    networks:
      - blog_network

  mysql:
    image: mysql:8.0
    container_name: blog_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: blog_db
      MYSQL_USER: blog_user
      MYSQL_PASSWORD: blog_password
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - blog_network

  adminer:
    image: adminer:latest
    container_name: blog_adminer
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql
      ADMINER_DESIGN: pepa-linha
    depends_on:
      - mysql
    networks:
      - blog_network

volumes:
  mysql_data:

networks:
  blog_network:
    driver: bridge