:root{
  --text-color-primary: #70858f;
  --text-color-secondary: #000;
  --color-background: #2b5465;
}

body{
  color: var(--text-color-primary);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  font-weight: 500;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
section{
  padding: 60px 0;
}


header{
  background-color: var(--color-background);
}
.header__content{
  padding: 10px 0;

  a{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
  }
}


.blog-block__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;
}
.blog-block__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 50px;
}
.blog-block__grid_item{
  display: flex;
  flex-direction: column;
  gap: 10px;

  &>img{
    width: 100%;
    aspect-ratio: 1/0.6;
    object-fit: cover;
    border-radius: 10px;
  }

  &>div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


footer{
  background-color: var(--color-background);
}
.footer__content{
  color: #fff;
  font-size: 14px;
  padding: 75px 0;
  text-align: center;
}


.blog-pagination{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 7px;
  margin-top: 50px;

  li{

    a{
      display: block;
      padding: 6px 13px;
      border: 1px solid var(--text-color-primary);
      text-decoration: none;
      transition: .2s;

      &.current, &:hover{
        background-color: var(--text-color-primary);
        color: #fff;
      }

      &.current{
        pointer-events: none;
      }
    }
  }
}


.article-content{
  img{
    width: 100%;
  }

  p{
    margin: 10px 0;
  }
}